@media (max-width:900px) {
    header nav ul li a{
        font-size: 16px;

    }
    .container-image{
        height: 250px;

    }

    
    .info{
        font-size: 15px;
    }
    .info-paquete{
        font-size: 15px;
    }
    .contenido{
        font-size: 15px;
    }

    .main-pack{
        display: grid;

    }
    .sub-paquetes img{
        padding-bottom: 50px;
        height: 200px;
    }

}