.container-image{

    height: 100px;
}
.contenedor{
    display: flex;
   
}

.c1 img{
    height: 150px;
    padding-right: 50px;
    text-align: center;
    cursor: pointer;
}
footer{
    position: absolute;
}